{% extends 'base.html' %}

{% block content %}
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      {% for post in sliders %}
      <li data-target="#carouselExampleCaptions" data-slide-to="{{forloop.counter0}}" {% if forloop.first %} class="active" {% endif %}></li>
      {% endfor %}
    </ol>
    <div class="carousel-inner">
      {% for post in sliders %}
      <div class="carousel-item {% if forloop.first %} active {% endif %}">
        {% if post.image.url != null%}
        <img style="height: 500px; object-fit: cover;" src="{{post.image.url}}" class="d-block w-100" alt="...">
        {% endif %}
        <div class="carousel-caption d-none d-md-block">
          <a href="{{post.get_absolute_url}}">
            <h5>{{post.title}}</h5>
          </a>
          <p>{{post.content|safe|slice:"0:100"}}...</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <section class="container-fluid">
      <div class="container">
          <h1 class="text-center">Популярные новости</h1>
          <hr>
          <div class="row">
            {% for post in news %}
              <div class="col-md-4">
                <div class="card">
                  {% if post.image.url != null %}
                    <img style="height: 200px; object-fit: cover;" src="{{post.image.url}}" class="card-img-top" alt="...">
                  {% endif %}
                    <div class="card-body">
                      <a href="{{post.get_absolute_url}}">
                        <h5 class="card-title">{{post.title}}</h5>
                      </a>
                      <p class="card-text">{{post.content|safe|slice:"0:100"}}...</p>
                      <b>Просмотров: {{post.views}}</b>
                      <a href="{{post.category.get_absolute_url}}" class="btn btn-primary">{{post.category.title}}</a>
                    </div>
                </div>
              </div>
            {% endfor %}
          </div>
      </div>
  </section>

  <section class="container-fluid bg-light">
      <div class="container bg-white">
          <h1 class="text-center">Популярные новости</h1>
          <hr>
          <div class="row">
            {% for category in categories %}
              <div class="col-md-2" style="margin: 10px 0;">
                <div class="card">
                  <a href="{{category.get_absolute_url}}">
                    {% if category.image.url != null %}
                    <img src="{{category.image.url}}" title="{{category.title}}" class="card-img-top" alt="...">
                    {% else %}
                    <img src="#" alt="{{category.title}}" class="card-img-top">
                    {% endif %}
                  </a>
                </div>
              </div>
            {% endfor %}
          </div>
      </div>
  </section>
{% endblock %}