{% extends 'base.html' %}

{% block title %}
Новости 
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                {% for post in posts %}
                    <div class="col-md-4">
                        {% if post.image.url != null%}
                            <img style="height: 200px; width: 100%; object-fit: cover;" src="{{post.image.url}}" alt="">
                        {% endif %}
                        <h3 class="text-center">{{post.title}}</h3>
                        <p>{{post.content|safe|slice:"0:100"}}</p>
                    </div>
                    {% empty %}
                    <h2>Ничего нет</h2> 
                {% endfor %}
            </div>
        </div>
        <div class="col-md-3">
            <form action="{% url 'sort' %}" method="GET">
            <select name="sort" onchange="{this.form.submit()}">
                <option value="-date">Сначала новые</option>
                <option value="date">Сначала старые</option>
                <option value="-views">Популярные</option>
                <option value="views">Непопулярные</option>
            </select>
            </form>
        </div>
    </div>
</div>

{% endblock %}